body {
    background-image: url('/static/images/background_login.png');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
}

.card {
    width: 100%;
    max-width: 400px;
}

.hidden {
    display: none;
}